# TEST REPORT OUTLINE

## SECTION 1: OVERVIEW OF TEST RESULTS

### Overview

* the test cases for Halo 5 Guardians ran moderit but hit a few snaggs with the AI Pathfinding, and how not even commands would 
get them to move . but the other tests ran okay nothing game breaking was found, the inital test plan went as planned as well as some of the other tests, all in all the only thing that needs to be loked over a bit more would be the AI Scripting and Command scripts to make them work properly next time befor launching a game.
#### Number of Test performed

The number of tests that were performed were about 8, each group member was given about two to three test secieros depending on
what they wanted to test out.

#### Number of Defects

when i ran the tests there were 2 defects that were in regards with the AI pathing  

#### Requirements Status

* yes the requirements were met when testing the game.

### Test Environment

the enviorement was good there was an xbox one and the game was also there so the tests were conducted to expectation.
as for the community of the game it consisted of the competitive players and FPS players as well.

#### Hardware Configuration

The harware that was used was a standard Xbox One and Xbox One Controller with a wired internet connection.

### Recommendation

* while i was conducting my tests i had issues with AI pathing to which the AI weren't moving at all they seemed to be stuck in place and even when i gave a command they didnt move at all, i Recomend that befor the next release of the game, the in-house testers should double check on the AI pathing and scripthing so that the AI follows through with the commands given but also with basic behavior systems such as movements.

## SECTION 2: DETAILED TEST RESULTS

### List of Tests

| Name of Test | Status – Pass/Fail | Tester | Test ID | Associated Requirement |
|---|---|---|---|---|
|level Design - Blue team level collisions | pass|Oscar |KB- 01 |Stable level design no mape holes |
|level Design - Fall induced deaths for blue team| pass|Oscar|KB- 02| Stable level design with appropriate player confinement to level|
|AI Pathing - To see if AI behave correctly on their own|Fail|Oscar|OJ- 01| Responsive AI|
|AI Commands - To see if the AI's follow through with the commands they are given|Pass/Fail|Oscar|OJ- 02| Responsive AI|
|Vehicles - Audio, physics,sound and performance| Pass|Oscar|JP- 01| stable phyisics, collision and audio|
|Vehicles - Audio,Physics,sound, and performance| Pass|Oscar|JP 02| Stale physics, collision and audio|
|Overgrowth - Networking| Pass|Oscar|FMM- 01|Stable Matchmaking connection|
|Overgrowth - Performance|Pass|Oscar|FMM- 02|Stable Matchmaking connection|
## SECTION 3: SUMMARY OF DEFECTS

### List of Defects found or fixed

| Defect ID | Description | Severity | Associated Test ID or Requirement |
|---|---|---|---|
|OJ-01|the AI was supose to move to a safe location away from danger but they didn'y istead they got stuck. | |OJ -01/02 |
